.image {
  border-radius: 800px;
  filter: grayscale(80%) brightness(1.1);
}

.imageContainer {
  height: 300px;
  position: relative;
  width: 300px;
}

@media only screen and (min-width: 1024px) {
  .imageContainer {
    height: 350px;
    width: 350px;
  }
}
