.container {
  align-items: center;
  background-color: #ffeef2;
  display: flex;
  flex-direction: column;
}

.harken {
  background-color: #5c61df;
}

.image {
  border-radius: 30px;
}

.imageContainer {
  align-items: center;
  border-radius: 30px;
  display: flex;
  height: 200px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.imageContainerSmall {
  align-items: center;
  border-radius: 30px;
  display: flex;
  height: 200px;
  justify-content: center;
  position: relative;
  width: 240px;
}

.minymonLogo {
  background-color: #f5f1f1;
}

.projects {
  margin-top: 48px;
}
