.container {
  align-items: center;
  background-color: rgb(254, 255, 243);
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.innerContainer {
  max-width: 800px;
}

.favoriteItem {
  background-color: transparent;
  border-style: none;
  color: #1f1f1f;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  padding: 0;
}

.favoriteItem:active {
  background-color: rgba(183, 198, 247, 0.9);
}

@media (hover: hover) {
  .favoriteItem:hover {
    background-color: rgba(183, 198, 247, 0.9);
    cursor: pointer;
  }
}

.favoriteItemSelected {
  background-color: rgba(200, 247, 193, 0.8);
}

.favoriteItemButtons {
  margin-top: 8px;
}
