.container {
  background-color: #dff5fc;
}

.description {
  text-align: center;
}

.innerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profilePicture {
  margin-top: 24px;
}

.socialLinks {
  margin-top: 24px;
}

.title {
  font-size: 72px;
}
