.link {
  background-color: rgb(255, 255, 0, 0.5);
  color: #1f1f1f;
  text-decoration: none;
}

.link:hover {
  background-color: rgba(255, 183, 0, 0.5);
  text-decoration: none;
  transition: background-color 500ms;
}
